.App {
  color: white;
  width: 100%;
}

p {
  font-size: medium;
}

h1,
ul,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 1px;
}

h2 {
  font-size: x-large;
  font-weight: 300;
}

hr {
  background-color: #ce921e;
  height: 1px;
  width: 100%;
  border: none;
}

li {
  list-style: none;
  font-size: medium;
}

li:hover {
  cursor: pointer;
  animation: scale-up 0.4s ease-in forwards;
}

.active {
  background-color: rgba(255, 255, 255, 0.085);
  scale: 1.1;
  transition: transform 0.5s ease-in;
}

.fade {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.bold {
  font-weight: 400;
  padding-left: 4px;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  height: 200px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(rgba(6, 9, 13, 0.85), rgba(13, 22, 31, 0.9)),
    url("/Users/96solreb/Work/Repos/euromatches/euromatches/public/fotball.jpg");
  background-position: bottom;
  background-size: cover;
  border-bottom: #1a252e 1px solid;
  box-shadow: 5px 5px 5px 0px rgba(22, 31, 40, 0.9);
  filter: drop-shadow(2px 2px 2px rgba(22, 31, 40, 0.9));
}

.logo {
  position: absolute;
  left: 45px;
  top: 45px;
  width: 60px;
}

.header-layout {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.header-nav ul {
  font-size: small;
  display: flex;
  height: fit-content;
  flex-direction: row;
  gap: 22px;
  flex-flow: row;
  flex-wrap: nowrap;
  width: 550px;
  overflow: scroll;
  scroll-behavior: smooth;
  margin-right: 4rem;
  padding: 12px;
}

.header-nav ul li {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  border: 1px white solid;
  border-radius: 4px;
  gap: 2px;
}

.header-nav ul li p {
  display: flex;
  flex-direction: row;
  gap: 2px;
  font-size: small;
}

.top-match-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.top-match-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.top-match-card div p {
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.bottom-match-card,
.bottom-match-card div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom-match-card div {
  gap: 8px;
}

.bottom-match-card p {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}

.bottom-match-card div.flex-col {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 9px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media only screen and (max-width: 1100px) {
  header {
    height: 280px;
  }

  .header-layout {
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
  }

  .header-nav ul {
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {
  .logo {
    width: 40px;
    height: 40px;
    top: 30px;
    left: 30px;
  }

  header {
    height: 250px;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
  }

  .header-layout {
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
  }

  .header-nav {
    overflow-x: scroll;
    max-width: 100%;
  }

  .header-nav ul li {
    padding: 1.5rem 1rem;
    font-size: x-small;
  }
}
