body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  width: 100%;
  font-style: normal;
  min-height: 100%;
  background-color: #161f28;
  background: linear-gradient(to top right, #161f28, #1a252e);

}

main {
  width: 70%;
  margin: 3rem auto ;

}

footer {
  height: 200px;
}

@media only screen and (max-width: 1100px) {
  main {
    width: 70%;
    margin: auto;
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 700px) {
  main {
    margin: auto;
    width: 85%;
    margin-top: 4rem;
  }
}
